---
ansible_managed: "Ansible managed: Do not make changes here - they will be overwritten."

no_proxy: "localhost,127.0.0.1/8,::1,131.159.0.0/16,2a09:80c0::/29,172.16.0.0/12,10.0.0.0/8,*.in.tum.de,*cit.tum.de"

shared_monitoring_host_v4: "131.159.89.160"
shared_monitoring_host_v6: "2a09:80c0:89:1::32"

mysql_exporter_password: "{{ lookup('hashi_vault', 'kv/data/artemis/production/prometheus').get('mysql_exporter') }}"
mysql_disable_log_bin: true

artemis_email: "artemis@xcit.tum.de"

artemis_internal_ip_allowlist:
  - "131.159.88.0/24" # il01_4
  - "2a09:80c0:88::/64" # il01_4
  - "131.159.89.0/25" # il01_7
  - "2a09:80c0:89::/64" # il01_7
  - "131.159.89.128/25" # il01_8
  - "2a09:80c0:89:1::/64" # il01_8
