---
##############################################################################
# Artemis Configuration
##############################################################################
node_id: 1
is_testserver: true
artemis_server_url: "https://{{ var_testserver_name }}.artemis.cit.tum.de"
artemis_email: "{{ var_testserver_name }}.aet@xcit.tum.de"

artemis_version: develop
artemis_branch: develop

artemis_internal_admin_user: artemis_admin
artemis_passkey_enabled: true
artemis_repo_basepath: "/opt/artemis/data"
artemis_tmp_directory: "/tmp"

push_notification_relay: "https://hermes-sandbox.artemis.cit.tum.de"
tum_live_base_url: "https://tum.live/api/v2"

artemis_ssh_key_password:
artemis_ssh_key_path: # "/opt/artemis/sshkeys"
artemis_ssh_key_name: "id_ecdsa"
artemis_ssh_priv_key_value: ""

use_docker: true
artemis_system_ram_proportion: 0.6 # Limit Artemis to 60% RAM (also runs DB on same VM)

apollon_url: "https://apollon.ase.in.tum.de"

artemis_operator_name: "Technical University of Munich"
artemis_operator_admin_name: "Stephan Krusche"

lti:
  oauth_secret: "{{ lookup('hashi_vault', 'kv/data/artemis/common/lti').get('oauth_secret') }}"

licenses:
  matlab: "28000@mlm1.rbg.tum.de"

helios:
  environment_name: "{{ var_testserver_name }}.artemis.cit.tum.de"
  endpoints:
    - url: "https://helios.aet.cit.tum.de/api/environments/status"
      secret_key: "{{ lookup('hashi_vault', 'kv/data/artemis/common/helios').get('prod_secret_key') }}"
    - url: "https://helios-staging.aet.cit.tum.de/api/environments/status"
      secret_key: "{{ lookup('hashi_vault', 'kv/data/artemis/common/helios').get('staging_secret_key') }}"

sharing:
  url: "https://dev-exchange.codeability-austria.uibk.ac.at/"
  apikey: "{{ lookup('hashi_vault', 'kv/data/artemis/common/sharing').get('apikey') }}"
  actionname: "TestExport to Artemis@helios.aet.cit.tum.de"

artemis_rate_limit:
  account_management_rpm: 5
  authentication_rpm: 30

##############################################################################
# Proxy Configuration
##############################################################################
proxy_ssl_certificate_path: "/var/lib/rbg-cert/live/fullchain.pem"
proxy_ssl_certificate_key_path: "/var/lib/rbg-cert/live/privkey.pem"

firewall_hostgroup: proxy # For use of other iptables rules file

##############################################################################
# Sentry Configuration
##############################################################################
sentry:
  dsn: https://e52d0b9b6b61769f50b088634b4bc781@sentry.aet.cit.tum.de/2
  environment: "{{ var_testserver_name }}"
  traces_sample_rate: 1.0
  send_default_pii: true

##############################################################################
# Deployment User
##############################################################################
artemis_create_deployment_user: true
artemis_deployment_user_name: deployment
artemis_deployment_user_uid: 1338
artemis_deployment_user_public_key: "{{ lookup('hashi_vault', 'kv/data/artemis/test/{0}'.format(var_testserver_name | replace('-', ''))).get('ssh_pub') }}"
artemis_deployment_user_comment: "User to deploy artemis to this host"
