---
##############################################################################
# Atlas Configuration
##############################################################################
atlas:
  enabled: true
  atlasml:
    enabled: false
