---
artemis_server_url: "https://artemis.tum.de"

artemis_version: 7.10.5

var_vault_group: "production/nodes"

var_artemis_localvc_ssh_url: "ssh://git@artemis.tum.de:7921/"

registry_external_host: registry.prod.artemis.cit.tum.de

##############################################################################
# External Systems Configuration
##############################################################################

nebula:
  url: "https://prod.nebula.artemis.cit.tum.de"
  secret: "{{ lookup('hashi_vault', 'kv/data/artemis/common/nebula').get('prod_secret') }}"

tum_live_base_url: "https://tum.live/api/v2"

##############################################################################
# Proxy Configuration
##############################################################################

proxy_generate_dh_param: false

# Special TUM certificate config
proxy_certificate_base_path: /opt/certs
proxy_tum_certificate_key_name: artemis_tum_de-key.pem
proxy_tum_certificate_name: artemis_tum_de.pem

servers:
  - name: "artemis.tum.de"
    ssl_certificate_path: "{{ proxy_certificate_base_path }}/{{ proxy_tum_certificate_name }}"
    ssl_certificate_key_path: "{{ proxy_certificate_base_path }}/{{ proxy_tum_certificate_key_name }}"
    default_server: true

redirects:
  - name: "artemis.ase.in.tum.de artemis.in.tum.de artemis.ase.cit.tum.de proxy.prod.artemis.cit.tum.de artemis.cs.tum.edu proxy-internal.prod.artemis.cit.tum.de prod.artemis.cit.tum.de asevm91.cit.tum.de artemis.cit.tum.de"
    ssl_certificate_path: /var/lib/rbg-cert/live/host:f:asevm91.cit.tum.de.fullchain.pem
    ssl_certificate_key_path: /var/lib/rbg-cert/live/host:f:asevm91.cit.tum.de.privkey.pem
    default_server: false
    to: "{{ artemis_server_url }}"

firewall_hostgroup: default
proxy_forward_ssh: true

theia:
  portal_url: https://theia.artemis.cit.tum.de
  images:
    java:
      Java-17: "java-17-latest"
    c:
      C: "c-latest"
    javascript:
      Javascript: "javascript-latest"
    ocaml:
      Ocaml: "ocaml-latest"
    python:
      Python: "python-latest"
    rust:
      Rust: "rust-latest"
