---
##############################################################################
# Commonly changed variables
##############################################################################
var_testserver_name: "artemis-test2"
artemis_database_password: "{{ lookup('hashi_vault', 'kv/data/artemis/test/artemistest2').get('db_password') }}"
artemis_internal_admin_password: "{{ lookup('hashi_vault', 'kv/data/artemis/test/artemistest2').get('internal_admin') }}"
artemis_jhipster_jwt: "{{ lookup('hashi_vault', 'kv/data/artemis/test/artemistest2').get('jhipster_jwt') }}"

athena:
  url: "https://athena-test1.ase.cit.tum.de"
  secret: "{{ lookup('hashi_vault', 'kv/data/artemis/test/artemistest2').get('athena_secret') }}"
  restricted_modules: "module_text_llm,module_programming_llm,module_modeling_llm"

theia:
  portal_url: https://theia-staging.artemis.cit.tum.de
  images:
    java:
      Java-17: "java-17-latest"
    c:
      C: "c-latest"
    javascript:
      Javascript: "javascript-latest"
    ocaml:
      Ocaml: "ocaml-latest"
    python:
      Python: "python-latest"
    rust:
      Rust: "rust-latest"
