---
##############################################################################
# Commonly changed variables
##############################################################################
var_testserver_name: "artemis-test3"
artemis_database_password: "{{ lookup('hashi_vault', 'kv/data/artemis/test/artemistest3').get('db_password') }}"
artemis_internal_admin_password: "{{ lookup('hashi_vault', 'kv/data/artemis/test/artemistest3').get('internal_admin') }}"
artemis_jhipster_jwt: "{{ lookup('hashi_vault', 'kv/data/artemis/test/artemistest3').get('jhipster_jwt') }}"

is_multinode_install: true
artemis_node_count: 3
node_id: 0 # This prevents that all nodes are scheduling. Result of `hash_behaviour = merge`
broker:
  username: "artemis"
  password: "{{ lookup('hashi_vault', 'kv/data/artemis/test/artemistest3').get('broker_password') }}"
  url: "artemis-activemq-broker"

artemis_jhipster_registry_usernamme: "admin"
artemis_jhipster_registry_password: "{{ lookup('hashi_vault', 'kv/data/artemis/test/artemistest3').get('registry_password') }}"
artemis_eureka_urls: "http://{{ artemis_jhipster_registry_usernamme }}:{{ artemis_jhipster_registry_password }}@artemis-jhipster-registry:8761/eureka/"

athena:
  url: "https://athena-test1.ase.cit.tum.de"
  secret: "{{ lookup('hashi_vault', 'kv/data/artemis/test/artemistest3').get('athena_secret') }}"
  restricted_modules: "module_text_llm,module_programming_llm,module_modeling_llm"

atlas:
  enabled: true
  atlasml:
    enabled: false
    base-url: atlasml-test1.ase.cit.tum.de
    auth-token: "{{ lookup('hashi_vault', 'kv/data/artemis/test/artemistest3').get('atlasml_auth_token') }}"